[submodule "modules/art-supabase-fms"]
	path = modules/art-supabase-fms
	url = https://github.com/hzgx24931233/art-supabase-fms.git
	branch = main
[submodule "modules/art-supabase-hr"]
	path = modules/art-supabase-hr
	url = https://github.com/hzgx24931233/art-supabase-hr.git
	branch = main
